$fa-font-path: './webfonts';
$text-font-stack: 'Poppins', sans-serif !default;

$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

$text-color: rgb(34, 34, 34) !default;
$text-white: #fff !default;

$brand-color: rgb(229, 0, 80) !default;

$primary-bg: #e74c3c;

$box-shadow-default: 0 20px 30px rgba(0, 0, 0, 0.15);

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$breakpoints: (
  // extra small devises (phones)
  'small': 320px,
  // small devises (tablets, large phones)
  'small-2x': 600px,
  // tablets landscape
  'medium': 768px,
  // laptop desktop
  'medium-2x': 992px,
  // large desktop laptop
  'large': 1024px
) !default;
