$text-font-stack: 'Poppins', sans-serif !default;

$transparent-grey: #b2b2b280 !default;

$text-color: rgb(34, 34, 34) !default;
$text-white: #fff !default;
$placeholder-grey: #6d6d6d !default;

$primary-bg: #ff594c;
$light-bg: #fff;

$box-shadow-default: 0 20px 30px rgba(0, 0, 0, 0.15);

$breakpoints: (
  // extra small devises (phones)
  'small': 320px,
  // small devises (tablets, large phones)
  'small-2x': 600px,
  // tablets landscape
  'medium': 768px,
  // laptop desktop
  'medium-2x': 992px,
  // large desktop laptop
  'large': 1024px
) !default;
