header {
    height: 100vh;
    background: url('../../assets/header/pexels-vecislavas-popa-1571460\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
  