@import './../../../sass/abstracts/variables';
@import './../../../sass/abstracts/mixins';

.container {
  padding: 0 6.9rem;
  margin: 0 auto;

  .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@include breakpoint(small-2x) {
  .container {
    .grid {
      flex-direction: column;
    }
  }
}
