.explore-container {
  padding: 0 6.9rem;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}


@include breakpoint(small-2x) {
  .explore-container{ 
    .row {
      flex-direction: column;
    }
  }
}